main
<!-- <md-content layout-padding>
	<h2 class="text-center">Users Time</h2>
	<form name="loginForm">

		<div layout="column">
			<md-input-container flex="50">
				<label>Login</label>
				<input required type="text" name="login" ng-model="home.user.username">
				<div ng-messages="loginForm.login.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>


			<md-input-container flex="50">
				<label>Password</label>
				<input required type="password" name="password" ng-model="home.user.password"
				minlength="4" maxlength="20" multiple="" />

				<div ng-messages="loginForm.password.$error" role="alert" multiple="">
					<div ng-message="required">
						Your password s required.
					</div>
					<div ng-message="minlength">
						Your password must be between 4 and 20 characters long and look like an password.
					</div>
					<div ng-message="maxlength">
						Your password must be between 4 and 20 characters long and look like an password.
					</div>
				</div>
			</md-input-container>
		</div>

		<div ng-if="home.message" class="alert-help">{{home.message}}</div>

		<div>
			<md-button type="submit" class="md-raised md-primary" ng-click="home.enterUser()"
			ng-disabled="!home.user.username || !home.user.password">Submit</md-button>
		</div>

		<div>
			<md-button class="md-raised" ng-click="home.exitUser()"
			ng-disabled="!home.logout">Logout</md-button>
		</div>

	</form>
</md-content> -->