<md-content layout-padding>
	<h2 class="text-center">Users Time</h2>
	<form name="loginForm">

		<div layout="column">
			<md-input-container flex="50">
				<label>Login</label>
				<input required type="text" name="login" ng-model="home.user.username">
				<div ng-messages="loginForm.Login.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>


			<md-input-container flex="50">
			<!-- class="md-block" -->
				<label>Password</label>
				<input required type="password" name="password" ng-model="home.user.password"
				minlength="4" maxlength="20" />

				<div ng-messages="loginForm.password.$error" role="alert">
					<div ng-message-exp="['required', 'minlength', 'maxlength']">
						Your password must be between 4 and 20 characters long and look like an password.
					</div>
				</div>
			</md-input-container>
		</div>

		<div>
			<md-button type="submit" class="md-raised md-primary" ng-click="home.enterUser()"
			ng-disabled="!home.user.username || !home.user.password">Submit</md-button>
		</div>

	</form>
</md-content>