<md-content layout-padding>
	<h2 class="text-center">Users Time</h2>
	<form name="loginForm">
		<span>Please enter your login information</span>
		<div layout="column">
			<md-input-container flex="50">
				<label>Login</label>
				<input required type="text" name="login" ng-model="login.user.username">
				<div ng-messages="loginForm.login.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>

			<md-input-container flex="50">
				<label>Password</label>
				<input required type="password" name="password" ng-model="login.user.password"
				minlength="4" maxlength="20" multiple="" />

				<div ng-messages="loginForm.password.$error" role="alert" multiple="">
					<div ng-message="required">
						Your password s required.
					</div>
					<div ng-message="minlength">
						Your password must be between 4 and 20 characters long and look like an password.
					</div>
					<div ng-message="maxlength">
						Your password must be between 4 and 20 characters long and look like an password.
					</div>
				</div>
			</md-input-container>
		</div>

		<div ng-if="login.message" class="alert-help">{{login.message}}</div>

		<div>
			<md-button type="submit" class="md-raised md-primary" ng-click="login.enterUser()"
			ng-disabled="!login.user.username || !login.user.password">Submit</md-button>
		</div>

		<a class="md-raised" ui-sref="login.splitModule">Only autorized users can see split Page!</a>

		<div ui-view></div>

		<!-- <div>
			<md-button class="md-raised" ng-click="login.exitUser()"
			ng-disabled="!login.logout">Logout</md-button>
		</div> -->

	</form>
</md-content>