<md-content layout-padding>
	<div class="table" layout="row">
		<ng-container layout="column" flex>
			<div class="header-cell" matColumnDef="firstName">First Name</div>
			<div class="cell" ng-repeat="user in users.usersList">
				<md-button ui-sref="usersDetail({ userIndex: $index })" aria-label="{{user.firstName}}">{{user.firstName}}</md-button>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</ng-container>
		<ng-container layout="column" flex>
			<div class="header-cell" matColumnDef="lastName">Last Name</div>
			<div class="cell" ng-repeat="user in users.usersList">
				<md-button ui-sref="usersDetail({ userIndex: $index })" aria-label="{{user.lastName}}">{{user.lastName}}</md-button>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</ng-container>
		<ng-container layout="column" flex>
			<div class="header-cell" matColumnDef="timeOn">Time On</div>
			<div class="cell" ng-repeat="user in users.usersList">
				<md-button ui-sref="usersDetail({ userIndex: $index })" aria-label="{{user.timeOn}}">{{user.timeOn}}</md-button>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</ng-container>
		<ng-container layout="column" flex>
			<div class="header-cell" matColumnDef="timeOff">Time Off</div>
			<div class="cell" ng-repeat="user in users.usersList">
				<md-button ui-sref="usersDetail({ userIndex: $index })" aria-label="{{user.timeOff}}">{{user.timeOff}}</md-button>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</ng-container>
	</div>


	<div>
		<p>Total number of users: {{users.usersList.length}}</p>
	</div>

</md-content>

<h2>Realization whith add, edit, remove (unique First Names)</h2>

<md-content layout-padding>
	<md-list flex>
		<md-list-item class="md-3-line" ng-repeat="user in users.usersList" >
			<div class="md-list-item-text" layout="column" ng-model="user.isEdit">
				<h3 ng-if="!user.isEdit" ng-click="null" ui-sref="usersDetail({ userIndex: $index })">First Name: <strong>{{ user.firstName }}</strong>, Last Name: <strong>{{ user.lastName }}</strong></h3>
				<p ng-if="!user.isEdit">
					Time On: {{ user.timeOn }}, Time Off: {{user.timeOff}} 
				</p>
				<edit ng-if="user.isEdit"></edit>
			</div>
			<div class="md-list-item-text" layout="column" flex="10">
				<md-button ng-if="!user.isEdit" ng-click="users.update(user);" class="md-raised md-primary" aria-label="Edit">Edit</md-button>
			</div>
			<div class="md-list-item-text" layout="column" flex="10">
				<md-button ng-if="!user.isEdit" ng-click="users.delete(user);" class="md-raised md-warn" aria-label="Delete">Delete</md-button>
			</div>
			
		</md-list-item>
	</md-list>

	<md-button ui-sref="users.addUser" class="md-raised md-primary">Add Info</md-button>

	<div ui-view></div>


	<div>
		<p>Total number of users: {{users.usersList.length}}</p>
	</div>

</md-content>