<md-content layout-padding>
	<div class="table" layout="row">
		<ng-container layout="column" flex>
			<div class="header-cell" matColumnDef="firstName">First Name</div>
			<div class="cell" ng-repeat="user in users.usersList">
				<md-button ui-sref="usersDetail({ userIndex: $index })" aria-label="{{user.firstName}}">{{user.firstName}}</md-button>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</ng-container>
		<ng-container layout="column" flex>
			<div class="header-cell" matColumnDef="lastName">Last Name</div>
			<div class="cell" ng-repeat="user in users.usersList">
				<md-button ui-sref="usersDetail({ userIndex: $index })" aria-label="{{user.lastName}}">{{user.lastName}}</md-button>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</ng-container>
		<ng-container layout="column" flex>
			<div class="header-cell" matColumnDef="timeOn">Time On</div>
			<div class="cell" ng-repeat="user in users.usersList">
				<md-button ui-sref="usersDetail({ userIndex: $index })" aria-label="{{user.timeOn}}">{{user.timeOn}}</md-button>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</ng-container>
		<ng-container layout="column" flex>
			<div class="header-cell" matColumnDef="timeOff">Time Off</div>
			<div class="cell" ng-repeat="user in users.usersList">
				<md-button ui-sref="usersDetail({ userIndex: $index })" aria-label="{{user.timeOff}}">{{user.timeOff}}</md-button>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</ng-container>
	</div>


	<div>
		<p>Total number of users: {{users.usersList.length}}</p>
	</div>

</md-content>