<!-- <div class="container cf"> -->
<div class="cf">
  <p>{{usersDetail.test}}</p>
  <div class="users-detail-wrap">
    <div class="users-detail-name">
      <p>
        <span>{{usersDetail.userInfo.firstName}}</span>
        <span>{{usersDetail.userInfo.lastName}}</span>
      </p>
    </div>
    <div class="users-detail-time">
      <div class="time-on">
        <span>{{usersDetail.userInfo.timeOn}}</span>
      </div>
      <div class="time-off">
        <span>{{usersDetail.userInfo.timeOff}}</span>
      </div>
    </div>
  </div>
</div>